{% extends 'base.html'%}
{% block header-css %}
{% endblock %}
{% block page-body-content %}
    <!-- Responsive Table -->
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3 class="panel-title">请选择服务器</h3>
				</div>

				<div class="panel-body">
					<form role="form" action="{% url 'ExecuteOrder' %}" method="post" >
						<div class="form-group">
                            <!--<label class="control-label">服务器列表</label>-->
                            <select class="form-control" name="HostList" id="s2example-1" multiple data-size="15">
                                <option>127.0.0.1</option>
                                {% for host in HtmlHostList %}
                                    <option>{{ host.public_ip }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">要执行的shell</label>
                            <label class="control-label" for="tagsinput-1">（谨慎执行命令）</label>
                            <input type="text" class="form-control" name="shell" id="tagsinput-1" data-role="tagsinput" placeholder='ifconfig'/>
                        </div>
                        <div class="form-group">
                            <label class="control-label"></label>
                            <button class="btn btn-info" type="submit"><i class="icon-plus bigger-110"></i>	开始执行 </button>
                        </div>
                    </form>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">执行结果 	<a href="{% url 'ShowOpsLog' %}">
									<span class="title">(更多日志信息)</span>
								</a></h3></div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <!--<label class="control-label">详细日志</label>-->
                            <p>
                                <small>你删库啦~~</small>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom-js %}
{% endblock %}