<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />

    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>

	<title>LazySA - Dashboard</title>

    <link rel="Bookmark"  type="image/x-icon"  href="/static/favicon.ico"/>

	<link rel="stylesheet" href="/static/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/xenon-core.css">
	<link rel="stylesheet" href="/static/css/xenon-forms.css">
	<link rel="stylesheet" href="/static/css/xenon-components.css">
	<link rel="stylesheet" href="/static/css/xenon-skins.css">
	<link rel="stylesheet" href="/static/css/custom.css">

	<script src="/static/js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    {% block header-css %}
	{% endblock %}
	
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed">

			<div class="sidebar-menu-inner">	
				
				<header class="logo-env">
					<!-- logo -->
					<div class="logo">
						<a href="#" class="logo-expanded">
							<img src="/static/images/logo@2x.png" width="80" alt="" />
						</a>
						<a href="#" class="logo-collapsed">
							<img src="/static/images/logo-collapsed@2x.png" width="40" alt="" />
						</a>
					</div>
					
					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-bell-o"></i>
							<span class="badge badge-success">7</span>
						</a>
						
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>
					
					<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
					<div class="settings-icon">
						<a href="#" data-toggle="settings-pane" data-animate="true">
							<i class="linecons-cog"></i>
						</a>
					</div>
					
								
				</header>
						
				<ul id="main-menu" class="main-menu">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<li class="active opened active">
						<a href="{% url 'home' %}">
                            <i class="linecons-cog"></i>
                            <span class="title">Dashboard</span>
                        </a>
                        <ul>
							<li class="active">
                                <a href="{% url 'home' %}">
                                    <span class="title">统计</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul id="main-menu" class="main-menu">
					<li class="active opened active">
                        <a href="#">
							<i class="linecons-database"></i>
                            <span class="title">项目管理</span>
                        </a>
                        <ul>
							<li>
								<a href="{% url 'idc_list' %}">
									<span class="title">IDC 列表 </span>
                                </a>
                            </li>
							<li>
								<a href="{% url 'host_list' %}">
									<span class="title">服务器列表</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="title">其他信息</span>
								</a>
							</li>
						</ul>
					</li>
                </ul>

                <ul id="main-menu" class="main-menu">
					<li class="active opened active">
                        <a href="#">
							<i class="linecons-star"></i>
							<span class="title">运维管理</span>
						</a>
						<ul>
							<li>
								<a href="{% url 'TransferFiles' %}">
									<span class="title">文件传输 </span>
								</a>
							</li>
							<li>
								<a href="{% url 'ExecuteOrder' %}">
									<span class="title">命令执行</span>
								</a>
							</li>
							<li>
								<a href="{% url 'SysMonitor' %}">
									<span class="title">系统监控</span>
								</a>
							</li>
                            <li>
								<a href="{% url 'ShowSysLog' %}">
									<span class="title">系统日志</span>
								</a>
							</li>
                            <li>
								<a href="{% url 'ShowOpsLog' %}">
									<span class="title">运维日志</span>
								</a>
							</li>
						</ul>
					</li>
                </ul>

                 <ul id="main-menu" class="main-menu">
					<li class="active opened active">
                        <a href="#">
							<i class="linecons-star"></i>
							<span class="title">项目管理</span>
						</a>
						<ul>
							<li>
								<a href="#">
									<span class="title">项目列表 </span>
								</a>
							</li>
						</ul>
					</li>
                </ul>
            </div>
        </div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<nav class="navbar user-info-navbar" role="navigation">
				
				<!-- Left links for user info navbar -->
				<ul class="user-info-menu left-links list-inline list-unstyled">
					
					<li class="hidden-sm hidden-xs">
						<a href="#" data-toggle="sidebar">
							<i class="fa-bars"></i>
						</a>
					</li>
				</ul>
				
				
				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled">
					
					<li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->
						
						<form method="get" action="extra-search.html">
							<input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />
							
							<button type="submit" class="btn btn-link">
								<i class="linecons-search"></i>
							</button>
						</form>
						
					</li>
					
					<li class="dropdown user-profile">
						<a href="#" data-toggle="dropdown">
							<img src="/static/images/user01.jpg" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								{{ request.user }}
								<i class="fa-angle-down"></i>
							</span>
						</a>
						
						<ul class="dropdown-menu user-profile-menu list-unstyled">
                            <!--
							<li>
								<a href="#">
									<i class="fa-edit"></i>
									New Post
								</a>
							</li>
							-->
							<li>
								<a href="/admin/">
									<i class="fa-wrench"></i>
									系统后台
								</a>
							</li>
                            <!--
							<li>
								<a href="#">
									<i class="fa-user"></i>
									Profile
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa-info"></i>
									Help
								</a>
							</li>
                            -->
							<li class="last">
								<a href="{% url 'Logout' %}">
									<i class="fa-lock"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>

				</ul>
				
			</nav>



                        {% block page-body-content %}

            {% endblock %}

			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">
				
				<div class="footer-inner">
				
					<!-- Add your copyright text here -->
					<div class="footer-text">
						&copy; 2018
						<strong>LazySA</strong><a href="#"> Fish0607</a>
					</div>


					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">

						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>

					</div>

				</div>
				
			</footer>
		</div>
	</div>



    {% block  bottom-js %}
	{% endblock %}

	<!-- Bottom Scripts -->
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/TweenMax.min.js"></script>
	<script src="/static/js/resizeable.js"></script>
	<script src="/static/js/joinable.js"></script>
	<script src="/static/js/xenon-api.js"></script>
	<script src="/static/js/xenon-toggles.js"></script>


	<!-- Imported scripts on this page -->
	<script src="/static/js/xenon-widgets.js"></script>
	<script src="/static/js/devexpress-web-14.1/js/globalize.min.js"></script>
	<script src="/static/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
	<script src="/static/js/toastr/toastr.min.js"></script>
	<script src="/static/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="/static/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static/js/xenon-custom.js"></script>

</body>
</html>